.RollDice {
display: flex;
flex-flow: column nowrap;
min-height: 100vh;

}

.RollDice button {
    align-self: center;
    width: 15em;
    padding: 2.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;

}

.shaking {
    animation: wobble 1s;
    color: darkslategray;
}

.RollDice button:hover {
background-color: darkslateblue;
cursor: pointer;
}

@keyframes wobble {
    from {
        transform: translate3d(0,0,0);
    }
    15% {
        transform: translate3d(-25%,0,0) rotate3d(0,0,1, -5deg)
    }
    50% {
        transform: translate3d(25%,0,0) rotate3d(0,0,1, 10deg)
    }
    75% {
        transform: translate3d(-15%,0,0) rotate3d(0,0,1, -20deg)
    }
    to {
        transform: translate3d(0,0,0);
        
    }


}